@model EmailMessageViewModel
@{
	ViewData["Title"] = Localizer["Contacts"];
}
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<h1 class="text-center">@Localizer["Contacts"]</h1>
<div class="row">
	<div class="col-lg-6">
		<h3>@Localizer["OOO_OmEnergo"]</h3>
		<p class="white-space-pre-wrap">@Localizer["WorkingHours"]</p>
		<h4>@Localizer["CoordinateTimeOfArrival"]</h4>
		<p class="white-space-pre-wrap">@Localizer["ContactInformation"]</p>
	</div>
	<div class="col-lg-6 col-12">
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af7cc1bc8fa1165565789e8adc8c7dae2d652d2d6bfcb93676d654d7d81d4bca7&amp;source=constructor"></iframe>
	</div>
</div>
<hr />
<h2 id="feedback" class="text-center">@Localizer["Feedback"]</h2>
<form asp-action="Contacts" method="post" class="row">
	<div class="col-lg-5">
		<div class="form-group">
			<div>
				<label asp-for="Name"></label>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<input asp-for="Name" class="form-control" />
		</div>
		<div class="form-group">
			<div>
				<label asp-for="Email"></label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<input asp-for="Email" class="form-control" />
		</div>
		<div class="form-group">
			<div>
				<label asp-for="PhoneNumber"></label>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<input asp-for="PhoneNumber" class="form-control" />
		</div>
	</div>
	<div class="form-group col-lg-7 col-12">
		<div>
			<label asp-for="Text"></label>
			<span asp-validation-for="Text" class="text-danger"></span>
		</div>
		<textarea asp-for="Text" rows="8" class="form-control"></textarea>
	</div>
	<button class="btn btn-primary mx-auto" type="submit">@Localizer["Send"]</button>
</form>
