@model IEnumerable<Section>
@using ShieldUI.AspNetCore.Mvc;
@*<div class="container">*@
@*@Html.ShieldTreeView().Name("treeview").Html(@<text>*@
<ul>
    @foreach (var mainSection in Model)
    {
        <li>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample@(mainSection.EnglishName)" 
                    aria-expanded="false" aria-controls="collapseExample">B</button>
            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@mainSection.EnglishName">@mainSection.Name</a>
            <div class="collapse" id="collapseExample@(mainSection.EnglishName)">
                <ul>
                    @foreach (var commonObject in mainSection.GetOrderedNestedObjects())
                    {
                        if (commonObject is Section subsection)
                        {
                            <li>
                                <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsection.EnglishName">@subsection.Name</a>
                                <ul>
                                    @foreach (var subsectionCommonObject in subsection.GetOrderedNestedObjects())
                                    {
                                        if (subsectionCommonObject is Product subsectionProduct)
                                        {
                                            <li>
                                                <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsectionProduct.EnglishName">@subsectionProduct.Name</a>
                                                @Html.Partial("_MenuProductModels", subsectionProduct.Models)
                                            </li>
                                        }
                                        else if (subsectionCommonObject is ProductModel subsectionProductModel)
                                        {
                                            <li>
                                                <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsectionProductModel.EnglishName">@subsectionProductModel.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else if (commonObject is Product product)
                        {
                            <li>
                                <a asp-controller="Catalog" asp-action="Products" asp-route-name="@product.EnglishName">@product.Name</a>
                                @Html.Partial("_MenuProductModels", product.Models)
                            </li>
                        }
                        else if (commonObject is ProductModel productModel)
                        {
                            <li>
                                <a asp-controller="Catalog" asp-action="Products" asp-route-name="@productModel.EnglishName">@productModel.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </li>
    }
</ul>
@*</text>)*@
@*</div>*@
