@model IEnumerable<Section>
@using ShieldUI.AspNetCore.Mvc;
@Html.ShieldTreeView().Name("treeview").Html(@<text>
    @foreach (var mainSection in Model)
    {
        <li data-expanded="false">
            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@mainSection.EnglishName">@mainSection.Name</a>
            <ul>
                @foreach (var commonObject in mainSection.GetNestedObjects())
                {
                    if (commonObject is Section subsection)
                    {
                        <li data-expanded="false">
                            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsection.EnglishName">@subsection.Name</a>
                            <ul>
                                @foreach (var subsectionCommonObject in subsection.GetNestedObjects())
                                {
                                    if (subsectionCommonObject is Product subsectionProduct)
                                    {
                                        <li>
                                            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsectionProduct.EnglishName">@subsectionProduct.Name</a>
                                            @Html.Partial("_MenuProductModels", subsectionProduct.Models)
                                        </li>
                                    }
                                    else if (subsectionCommonObject is ProductModel subsectionProductModel)
                                    {
                                        <li>
                                            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@subsectionProductModel.EnglishName">@subsectionProductModel.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else if (commonObject is Product product)
                    {
                        <li data-expanded="false">
                            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@product.EnglishName">@product.Name</a>
                            @Html.Partial("_MenuProductModels", product.Models)
                        </li>
                    }
                    else if (commonObject is ProductModel productModel)
                    {
                        <li>
                            <a asp-controller="Catalog" asp-action="Products" asp-route-name="@productModel.EnglishName">@productModel.Name</a>
                        </li>
                    }
                }
            </ul>
        </li>
    }
</text>)
