@model ProductModel

<a asp-action="Products" asp-route-name="@Model.EnglishName" class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <div class="card">
        <div class="card-header">
            <p class="h3 text-center">@Model.Name</p>
        </div>
        <div class="card-body">
            <img class="card-img" src="@Model.GetImageFullLink()">
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var property in Model.GetProperties().Where(p => !String.IsNullOrWhiteSpace(p.Value)))
            {
                <li class="list-group-item">@property.Key: @property.Value</li>
            }
        </ul>
        <div class="card-footer">
            <h4 class="text-center price">
                @Model.GetPriceIntegerPart()<sup>@Model.GetStringPriceFractionalPart()</sup>
            </h4>
        </div>
    </div>
</a>
