@model List<Autotransformer>
@{
    ViewData["Title"] = "Лабораторные трансформаторы";
}

<div class="row justify-content-center">
    @foreach (var autotransformer in Model)
    {
        <a asp-controller="Catalog" asp-action="@autotransformer.Product.EnglishName" asp-route-series="@autotransformer.Series.Replace(" ","_")" class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <p class="h3 text-center">@autotransformer.Series</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="@autotransformer.GetImageFullLink()">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Диапазон: @autotransformer.OutputVoltageRange</li>
                </ul>
            </div>
        </a>
    }
</div>
