@model IEnumerable<CommonProduct>

<div class="row justify-content-center">
    @foreach (var product in Model)
    {
        <a asp-controller="Catalog" asp-action="@product.Section.EnglishName" asp-route-series="@product.Name.Replace(" ","_")" class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <p class="h3 text-center">@product.Name</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="@product.GetImageFullLink()">
                </div>
                @*<ul class="list-group list-group-flush">
                    <li class="list-group-item">Тип: @product.StabilizationType</li>
                    <li class="list-group-item">Диапазон: @product.InputVoltageRange</li>
                </ul>*@
            </div>
        </a>
    }
</div>
