@model Product

<h2 class="text-center">@Model.Name</h2>
<div class="row common-object-description mb-2">
    <div class="col-6">
        @Html.Partial("_ImageCarousel", Model)
        <p>@Model.Description</p>
    </div>
    <div class="col-6">
        @Html.Partial("_PropertiesTable", Model.GetPropertiesWithValues())
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var productModel in Model.Models.OrderBy(x => x.SequenceNumber))
    {
        @Html.Partial("_CommonObjectCard", productModel)
    }
</div>
