@model Product

<h2 class="text-center">@Model.Name</h2>
<div class="row common-object-description mb-2">
    <div class="col-6">
        <img class="float-left m-2 card-img border border-secondary" src="@Model.GetMainImageFullLink()">
        <p>@Model.Description</p>
    </div>
    <div class="col-6">
        <table class="table table-light table-bordered table-hover">
            <tbody>
                @foreach (var property in Model.GetProperties().Where(p => !String.IsNullOrWhiteSpace(p.Value)))
                {
                    <tr>
                        <td>@property.Key</td>
                        <td>@property.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var productModel in Model.Models.OrderBy(x => x.SequenceNumber))
    {
        @Html.Partial("_CommonObjectCard", productModel)
    }
</div>
