@model Section

<h2 class="text-center">@Model.Name</h2>
<div class="row">
    <div class="col-3">
        <img class="card-img border border-secondary" src="@Model.GetMainImageFullLink()">
    </div>
    <div class="col-9">
        <p style="white-space: pre-wrap;">@Model.Description</p>
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var obj in Model.GetOrderedNestedObjects())
    {
        if (obj is Section subsection)
        {
            @Html.Partial("_SectionCard", subsection)
        }
        if (obj is Product product)
        {
            @Html.Partial("_ProductCard", product)
        }
        if (obj is ProductModel productModel)
        {
            @Html.Partial("_ProductModelCard", productModel)
        }
    }
</div>
