@model Stabilizer
@{
    ViewData["Title"] = "";
}

<h3 class="text-center">@Model.Series</h3>
<p>    @Model.LongDescription</p>
<div class="row">
    <div class="col-6">
        <table class="table table-light table-bordered table-hover">
            <tbody>
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "StabilizationType" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "StabilizationAccuracy" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "PhasesAmount" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "OperatingFrequencyOfNetwork" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "AllowableDurableOverload" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "InputVoltageRange" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "Efficiency" })
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-light table-bordered table-hover">
            <tbody>
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "SwitchingTime" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "Indication" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "ShortCircuitProtection" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "VoltageSurgesProtection" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "AdjustableDelay" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "BypassMode" })
                @await Component.InvokeAsync("ProductProperty", new { model = Model, propertyName = "WorkingTemperature" })
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center">
    @foreach (var stabilizerModel in Model.Models)
    {
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <p class="h3 text-center">@stabilizerModel.Name</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="@stabilizerModel.GetImageFullLink()">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Габариты: @stabilizerModel.Dimensions</li>
                    <li class="list-group-item">Вес: @stabilizerModel.Weight кг</li>
                </ul>
                <div class="card-footer">
                    <h4 class="text-center">@stabilizerModel.Price</h4>
                </div>
            </div>
        </div>
    }
</div>
