@model CommonObject  

<input hidden asp-for="Id">
<div class="form-group row">
	<label asp-for="Name" class="col-sm-2 col-form-label text-right"></label>
	<div class="col-sm-5"><input asp-for="Name" class="form-control"></div>
	<label asp-for="SequenceNumber" class="col-sm-3 col-form-label text-right"></label>
	<div class="col-sm-2"><input asp-for="SequenceNumber" class="form-control"></div>
</div>
<div class="form-group row">
	<label asp-for="EnglishName" class="col-sm-2 col-form-label text-right"></label>
	<div class="col-sm-10">
		<input asp-for="EnglishName" class="form-control">
		<span asp-validation-for="EnglishName" class="text-danger"></span>
		<small class="form-text text-muted">@Localizer[nameof(SharedResource.EnglishNamePropertyRecommendations)]</small>
	</div>
</div>
<div class="form-group row">
	<label asp-for="Description" class="col-sm-2 col-form-label text-right"></label>
	<div class="col-sm-10">
		<textarea asp-for="Description" rows="3" class="form-control"></textarea>
	</div>
</div>
<fieldset class="properties-fieldset">
	<legend><label>@Localizer[nameof(SharedResource.Metatags)]</label></legend>
	<div class="form-group row">
		<label asp-for="MetatagTitle" class="col-sm-2 col-form-label text-right"></label>
		<div class="col-sm-10">
			<textarea asp-for="MetatagTitle" rows="3" class="form-control"></textarea>
			<small class="form-text text-muted">@Localizer[nameof(SharedResource.MetatagTitleRecommendations)]</small>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="MetatagDescription" class="col-sm-2 col-form-label text-right"></label>
		<div class="col-sm-10">
			<textarea asp-for="MetatagDescription" rows="3" class="form-control"></textarea>
			<small class="form-text text-muted">@Localizer[nameof(SharedResource.MetatagDescriptionRecommendations)]</small>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="MetatagKeywords" class="col-sm-2 col-form-label text-right"></label>
		<div class="col-sm-10">
			<textarea asp-for="MetatagKeywords" rows="3" class="form-control"></textarea>
			<small class="form-text text-muted">@Localizer[nameof(SharedResource.MetatagKeywordsRecommendations)]</small>
		</div>
	</div>
</fieldset>