@model Product

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<h4 class="text-center">@Model.Section.Name</h4>
<form asp-action=@(Model.Id == 0 ? "CreateProduct" : "EditProduct")
      asp-route-sectionId="@Model.Section?.Id" method="post">
    <partial name="_CreateOrEditFormCommonObjectProperties" model="@Model" />
    <input hidden asp-for="Properties">
    <fieldset class="properties-fieldset">
        <legend><label asp-for="Properties"></label></legend>
        @foreach (var property in Model.GetProperties())
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right">@property.Key</label>
                <div class="col-sm-10">
                    <input name="values[]" value="@property.Value" class="form-control" />
                </div>
            </div>
        }
    </fieldset>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="Section" asp-route-id="@Model.Section.Id" asp- class="btn btn-secondary">Отмена</a>
    </div>
</form>
