@model List<string>

<h2 class="text-center">@ViewBag.CommonObject.Name</h2>
<div class="row justify-content-center mb-3">
    @foreach (string imagePath in Model.Where(x => !x.ToLower().EndsWith("pdf")))
    {
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card shadow">
                <div class="card-body">
                    <img class="card-img description-img"
                         src="@imagePath.Substring(imagePath.IndexOf(@"\images"))" asp-append-version="true">
                </div>
                <div class="card-footer justify-content-center d-flex">
                    @if (!imagePath.Contains($@"\{ViewBag.CommonObject.Id}."))
                    {
                        <form asp-action="MakeImageMain" asp-route-path="@imagePath"
                              asp-route-englishName="@ViewBag.CommonObject.EnglishName" method="post">
                            <button class="btn btn-info" type="submit">Сделать главным</button>
                        </form>
                    }
                    <form asp-action="DeleteFile" asp-route-path="@imagePath"
                          asp-route-englishName="@ViewBag.CommonObject.EnglishName" method="post">
                        <button class="btn btn-sm btn-danger my-1 ml-2" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
<div class="row justify-content-center">
    @foreach (string pdfPath in Model.Where(x => x.ToLower().EndsWith("pdf")))
    {
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card shadow">
                <div class="card-header">
                    <a asp-controller="Home" asp-action="ViewPdf" asp-route-path="@pdfPath">
                        @pdfPath.Substring(pdfPath.LastIndexOf(@"\") + 1)
                    </a>
                </div>
                <div class="card-footer justify-content-center d-flex">
                    <form asp-action="DeleteFile" asp-route-path="@pdfPath"
                          asp-route-englishName="@ViewBag.CommonObject.EnglishName" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
<div class="text-center">
    @Html.Partial("_UploadFileButton", ViewBag.CommonObject.EnglishName as string)
</div>
