<h2 class="text-center">@Localizer["MainPage"]</h2>
<div class="row m-3">
	<a class="btn btn-primary mr-3" asp-action="Sections">@Localizer["ChangeSiteContent"]</a>
	<a class="btn btn-info" asp-action="Configuration">@Localizer["ChangeConfiguration"]</a>
</div>
<hr>
<h3>@Localizer["LoadingAndUnloadingDataFromExcel"]</h3>
<div class="row m-3">
	<a class="btn btn-info" asp-action="CreateBackup">@Localizer["DownloadExcelFile"]</a>
	<div class="col ml-3 max-width-600px">
		<partial name="_UploadFileButton" model="@(new UploadFileFormViewModel("UploadExcelWithData"))" />
	</div>
</div>
<hr>
<h3>@Localizer["ImagesThumbnails"]</h3>
<form asp-action="CreateThumbnails" class="form-inline m-3">
	<div class="input-group mr-2">
		<input type="number" name="maxSize" class="form-control">
		<div class="input-group-append">
			<span class="input-group-text">@Localizer["Pixels"]</span>
		</div>
	</div>
	<button type="submit" class="btn btn-primary my-1">@Localizer["Create"]</button>
</form>
