@model IEnumerable<CommonProduct>

<h3 class="text-center">@ViewData["Title"]</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Название</th>
        <th>Ссылка на фото</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                <a asp-controller="Admin" asp-action="ProductModels" asp-route-productName="@product.Name" asp-route-sectionName="@product.Section.Name">
                    @product.Name
                </a>
            </td>
            <td>@product.MainImageLink</td>
            <td>@product.Description</td>
            <td></td>
        </tr>
    }
</table>
