@model Product

<a asp-action="Section" asp-route-id="@Model.Section.Id" class="position-absolute btn btn-secondary">Назад</a>
<h2 class="text-center">@Model.Name</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Фото</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    @foreach (var productModel in Model.Models)
    {
        <tr>
            <td>@productModel.SequenceNumber</td>
            <td>@productModel.Name</td>
            <td><img class="card-img admin-photo" src="@productModel.GetImageFullLink()"></td>
            <td>@productModel.Price</td>
            <td>
                <a asp-action="EditProductModel" asp-route-id="@productModel.Id" class="btn btn-info">Изменить</a>
                @Html.Partial("_UploadPhotoButton", productModel)
                @Html.Partial("_DeleteButtonWithPopup", productModel)
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="CreateProductModel" asp-route-productId="@Model.Id" class="btn btn-primary">Создать модель</a>
</div>
