@model Product

<h2 class="text-center">@Model.Name</h2>
<table class="table table-bordered table-striped table-hover bg-light">
	<tr>
		<th>#</th>
		<th>@Localizer["Name"]</th>
		<th>@Localizer["Photo"]</th>
		<th>@Localizer["Price"]</th>
		<th>@Localizer["Actions"]</th>
	</tr>
	@foreach (var productModel in Model.Models.OrderBy(x => x.SequenceNumber))
	{
		<tr>
			<td>@productModel.SequenceNumber</td>
			<td>@productModel.Name</td>
			<td><img class="card-img admin-photo" src="@productModel.GetMainImagePath()"></td>
			<td>@productModel.Price</td>
			<td>
				<a asp-action="EditProductModel" asp-route-id="@productModel.Id" class="btn btn-info">@Localizer["Change"]</a>
				<a asp-action="FileManager" asp-route-englishName="@productModel.EnglishName" class="btn btn-info">@Localizer["FileManager"]</a>
				<partial name="_DeleteButtonWithPopup" model="productModel" />
			</td>
		</tr>
	}
</table>
<div class="text-center">
	<a asp-action="CreateProductModel" asp-route-productId="@Model.Id" 
	   class="btn btn-primary">@Localizer["Create"] @Localizer["Model"].Value.ToLower()</a>
</div>
