@model Section

<h3 class="text-center">@ViewData["Title"]</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Ссылка на фото</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    @foreach (var obj in Model.GetNestedObjects())
    {
        if (obj is Section)
        {
            var x = obj as Section;
            <tr>
                <td>@obj.SequenceNumber</td>
                <td>
                    <a asp-controller="Admin" asp-action="Products" asp-route-sectionName="@x.Name">
                        @x.Name
                    </a>
                </td>
                <td>Подсекция</td>
                <td>@x.MainImageLink</td>
                <td>@x.Description</td>
                <td class="table-secondary"></td>
                <td>
                    <a asp-controller="Admin" asp-action="EditSection" asp-route-id="@x.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", x)
                </td>
            </tr>
        }
        if (obj is Product)
        {
            var x = obj as Product;
            <tr>
                <td>@obj.SequenceNumber</td>
                <td>
                    <a asp-controller="Admin" asp-action="ProductModels" asp-route-productName="@x.Name"
                       asp-route-sectionName="@x.Section.Name">@x.Name</a>
                </td>
                <td>Продукт</td>
                <td>@x.MainImageLink</td>
                <td>@x.Description</td>
                <td class="table-secondary"></td>
                <td>
                    <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@x.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", x)
                </td>
            </tr>
        }
        if (obj is ProductModel)
        {
            var x = obj as ProductModel;
            <tr>
                <td>@obj.SequenceNumber</td>
                <td>@x.Name</td>
                <td>Модель</td>
                <td class="table-secondary"></td>
                <td class="table-secondary"></td>
                <td>@x.Price</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditProductModel" asp-route-id="@x.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", x)
                </td>
            </tr>
        }
    }
</table>
<div class="text-center">
    <a asp-controller="Admin" asp-action="CreateSection" asp-route-parentId="@Model.Id"
       class="btn btn-primary">Создать подсекцию</a>
    <a asp-controller="Admin" asp-action="CreateProduct" asp-route-sectionId="@Model.Id"
       class="btn btn-primary">Создать продукт</a>
    <a asp-controller="Admin" asp-action="CreateProductModel" asp-route-sectionId="@Model.Id"
       class="btn btn-primary">Создать модель</a>
</div>
