@model Section

<h3 class="text-center">@ViewData["Title"]</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Ссылка на фото</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    @foreach (var obj in Model.GetNestedObjects())
    {
        if (obj is Section subsection)
        {
            <tr>
                <td>@subsection.SequenceNumber</td>
                <td>
                    <a asp-controller="Admin" asp-action="Products" asp-route-sectionName="@subsection.Name">
                        @subsection.Name
                    </a>
                </td>
                <td>Подсекция</td>
                <td>@subsection.MainImageLink</td>
                <td>@subsection.Description</td>
                <td class="table-secondary"></td>
                <td>
                    <a asp-controller="Admin" asp-action="EditSection" asp-route-id="@subsection.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", subsection)
                </td>
            </tr>
        }
        if (obj is Product product)
        {
            <tr>
                <td>@product.SequenceNumber</td>
                <td>
                    <a asp-controller="Admin" asp-action="ProductModels" asp-route-productName="@product.Name"
                       asp-route-sectionName="@product.Section.Name">@product.Name</a>
                </td>
                <td>Продукт</td>
                <td>@product.MainImageLink</td>
                <td>@product.Description</td>
                <td class="table-secondary"></td>
                <td>
                    <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", product)
                </td>
            </tr>
        }
        if (obj is ProductModel productModel)
        {
            <tr>
                <td>@productModel.SequenceNumber</td>
                <td>@productModel.Name</td>
                <td>Модель</td>
                <td class="table-secondary"></td>
                <td class="table-secondary"></td>
                <td>@productModel.Price</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditProductModel" asp-route-id="@productModel.Id"
                       class="btn btn-info">Изменить</a>
                    @Html.Partial("_DeleteButtonWithPopup", productModel)
                </td>
            </tr>
        }
    }
</table>
<div class="text-center">
    <a asp-controller="Admin" asp-action="CreateSection" asp-route-parentId="@Model.Id"
       class="btn btn-primary">Создать подсекцию</a>
    <a asp-controller="Admin" asp-action="CreateProduct" asp-route-sectionId="@Model.Id"
       class="btn btn-primary">Создать продукт</a>
    <a asp-controller="Admin" asp-action="CreateProductModel" asp-route-sectionId="@Model.Id"
       class="btn btn-primary">Создать модель</a>
</div>
