@model IEnumerable<Section>

<a class="position-absolute btn btn-secondary" asp-action="Index">На главную</a>
<h2 class="text-center">Секции</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Фото</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    @foreach (var mainSection in Model.OrderBy(x => x.SequenceNumber))
    {
        <tr>
            <td>@mainSection.SequenceNumber</td>
            <td>
                <a asp-action="Section" asp-route-id="@mainSection.Id">@mainSection.Name</a>
            </td>
            <td><img class="card-img admin-photo" src="@mainSection.GetImageFullLink()"></td>
            <td class="admin-description">@mainSection.Description</td>
            <td>
                <a asp-action="EditSection" asp-route-id="@mainSection.Id" class="btn btn-info">Изменить</a>
                @Html.Partial("_UploadPhotoButton", mainSection)
                @if (!mainSection.GetOrderedNestedObjects().Any())
                {
                    @Html.Partial("_DeleteButtonWithPopup", mainSection)
                }
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="CreateSection" class="btn btn-primary">Создать</a>
</div>
