@model Section

<h2 class="text-center">@Model.Name</h2>
<table class="table table-bordered table-striped table-hover bg-light">
	<tr>
		<th>#</th>
		<th>@Localizer[nameof(SharedResource.Name)]</th>
		<th>@Localizer[nameof(SharedResource.Type)]</th>
		<th>@Localizer[nameof(SharedResource.Photo)]</th>
		<th>@Localizer[nameof(SharedResource.Description)]</th>
		<th>@Localizer[nameof(SharedResource.Price)]</th>
		<th>@Localizer[nameof(SharedResource.Actions)]</th>
	</tr>
	@foreach (var obj in Model.GetOrderedNestedObjects())
	{
		if (obj is Section subsection)
		{
			<tr>
				<td>@subsection.SequenceNumber</td>
				<td>
					<a asp-action="Section" asp-route-id="@subsection.Id">@subsection.Name</a>
				</td>
				<td>@Localizer[nameof(SharedResource.Subsection)]</td>
				<td><img class="card-img admin-photo" src="@subsection.GetMainImagePath()"></td>
				<td class="admin-description">@subsection.Description</td>
				<td class="table-secondary"></td>
				<td>
					<a asp-action="EditSection" asp-route-id="@subsection.Id" class="btn btn-info">@Localizer[nameof(SharedResource.Change)]</a>
					<a asp-action="FileManager" asp-route-englishName="@subsection.EnglishName" class="btn btn-info">@Localizer[nameof(SharedResource.FileManager)]</a>
					@if (!subsection.GetOrderedNestedObjects().Any())
					{
						<partial name="_DeleteButtonWithPopup" model="subsection" />
					}
				</td>
			</tr>
		}
		if (obj is Product product)
		{
			<tr>
				<td>@product.SequenceNumber</td>
				<td>
					<a asp-action="Product" asp-route-id="@product.Id">@product.Name</a>
				</td>
				<td>@Localizer[nameof(SharedResource.Product)]</td>
				<td><img class="card-img admin-photo" src="@product.GetMainImagePath()"></td>
				<td class="admin-description">@product.Description</td>
				<td class="table-secondary"></td>
				<td>
					<a asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-info">@Localizer[nameof(SharedResource.Change)]</a>
					<a asp-action="FileManager" asp-route-englishName="@product.EnglishName" class="btn btn-info">@Localizer[nameof(SharedResource.FileManager)]</a>
					@if (!product.Models.Any())
					{
						<partial name="_DeleteButtonWithPopup" model="product" />
					}
				</td>
			</tr>
		}
		if (obj is ProductModel productModel)
		{
			<tr>
				<td>@productModel.SequenceNumber</td>
				<td>@productModel.Name</td>
				<td>@Localizer[nameof(SharedResource.Model)]</td>
				<td><img class="card-img admin-photo" src="@productModel.GetMainImagePath()"></td>
				<td class="table-secondary"></td>
				<td>@productModel.Price</td>
				<td>
					<a asp-action="EditProductModel" asp-route-id="@productModel.Id" class="btn btn-info">@Localizer[nameof(SharedResource.Change)]</a>
					<a asp-action="FileManager" asp-route-englishName="@productModel.EnglishName" class="btn btn-info">@Localizer[nameof(SharedResource.FileManager)]</a>
					<partial name="_DeleteButtonWithPopup" model="productModel" />
				</td>
			</tr>
		}
	}
</table>
<div class="text-center">
	@if (Model.IsMainSection())
	{
		<a asp-action="CreateSection" asp-route-parentId="@Model.Id" class="btn btn-primary">@Localizer[nameof(SharedResource.CreateSubsection)]</a>
	}
	<a asp-action="CreateProduct" asp-route-sectionId="@Model.Id"
	   class="btn btn-primary">@Localizer[nameof(SharedResource.Create)] @Localizer[nameof(SharedResource.Product)].Value.ToLower()</a>
	<a asp-action="CreateProductModel" asp-route-sectionId="@Model.Id"
	   class="btn btn-primary">@Localizer[nameof(SharedResource.Create)] @Localizer[nameof(SharedResource.Model)].Value.ToLower()</a>
</div>  
