@model IEnumerable<Section>

<h3 class="text-center">Секции</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th colspan="2">Название</th>
        <th>Ссылка на фото</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    @foreach (var mainSection in Model)
    {
        <tr>
            <td colspan="2">
                <a asp-controller="Admin" asp-action="Products" asp-route-name="@mainSection.Name">
                    @mainSection.Name
                </a>
            </td>
            <td>@mainSection.MainImageLink</td>
            <td>@mainSection.Description</td>
            <td></td>
        </tr>
        @foreach (var childSection in mainSection.ChildSections)
        {
            <tr>
                <td></td>
                <td>
                    <a asp-controller="Admin" asp-action="Products" asp-route-name="@childSection.Name">
                        @childSection.Name
                    </a>
                </td>
                <td>@childSection.MainImageLink</td>
                <td>@childSection.Description</td>
                <td></td>
            </tr>
        }
    }
</table>
