@model CommonObject

<a asp-action="Products" asp-route-name="@Model.EnglishName" class="col-sm-6 col-lg-4 col-xl-3">
    <div class="card shadow">
        <div class="card-header">
            <h5 class="text-center m-0">@Model.Name</h5>
        </div>
        <div class="card-body">
            <img class="card-img" src="@Model.GetMainImageFullLink()">
        </div>
        @if (Model is ProductModel productModel)
        {
            <ul class="list-group list-group-flush">
                @foreach (var property in productModel.GetProperties().Where(p => !String.IsNullOrWhiteSpace(p.Value)))
                {
                    <li class="list-group-item">@property.Key: @property.Value</li>
                }
            </ul>
            <div class="card-footer">
                <h5 class="text-center price">
                    @productModel.GetPriceIntegerPart()<sup>@productModel.GetStringPriceFractionalPart()</sup>
                </h5>
            </div>
        }
    </div>
</a>
