@model CommonObject

<a asp-controller="Catalog" asp-action="Products" asp-route-name="@Model.EnglishName" 
   class="col-sm-6 col-lg-4 col-xl-3 common-object-card">
	<div class="card shadow">
		<div class="card-header">
			<h6 class="text-center m-0">@Model.Name</h6>
		</div>
		<div class="card-body">
			<img class="card-img" src="@Model.GetMainImageThumbnailPath(250)">
		</div>
		@if (Model is ProductModel productModel)
		{
			<ul class="list-group list-group-flush">
				@foreach (var property in productModel.GetPropertiesWithValues())
				{
					<li class="list-group-item">@property.Key: @property.Value</li>
				}
			</ul>
			<div class="card-footer">
				<h5 class="text-center price">
					@productModel.GetPriceIntegerPart()<sup>@productModel.GetStringPriceFractionalPart()</sup>
				</h5>
			</div>
		}
	</div>
</a>
